<template name="home">
  <div class="template-home">
    <div class="page-header">
      <div class="jumbotron">
      <h1>Welcome to {{ siteTitle }} </h1>
      <p class ='lead'> Manage everything.</p>
      <p><a href ="{{pathFor 'dashboard'}}" class = "btn btn-btn-lg btn-success"> My Projects </a></p>
    </div>
    <div class = "row">
      <div class="col-lg-4">
        <h2><i class = 'fa fa-users'></i>Team Building</h2>
          <p>Invite people to your projects</p>
        </div>
        <div class="col-lg-4">
          <h2><i class = 'fa fa-twitch'></i>Team Building</h2>
            <p>Invite people to your projects</p>
          </div>
          <div class="col-lg-4">
            <h2><i class = 'fa fa-users'></i>Team Building</h2>
              <p>Invite people to your projects</p>
            </div>
      </div>
  </div>
  </div>
</template>
